<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPages"
        tools:targetApi="31">
        <activity
            android:name=".rssFeed.RssFeedActivity"
            android:exported="false" />
        <activity
            android:name=".simpleList.SimpleListEditActivity"
            android:exported="false"
            android:theme="@style/actionBarTheme" />
        <activity
            android:name=".simpleList.SimpleListViewActivity"
            android:exported="false"
            android:parentActivityName=".selectCreateActivity"
            android:theme="@style/actionBarTheme" />
        <activity
            android:name=".chartsRes.ChartsMainActivity"
            android:exported="false"
            android:parentActivityName=".selectCreateActivity"
            android:theme="@style/actionBarTheme" />
        <activity
            android:name=".chartsRes.ChartsEditActivity"
            android:exported="false"
            android:theme="@style/actionBarTheme" />
        <activity
            android:name=".chartsRes.ChartsViewActivity"
            android:exported="false"
            android:parentActivityName=".selectCreateActivity"
            android:theme="@style/actionBarTheme" />
        <activity
            android:name=".dictionary.DictionaryMainActivity"
            android:exported="false" />
        <activity
            android:name=".calculator.CalculatorMainActivity"
            android:exported="false" />
        <activity
            android:name=".notes.NotesEditActivity"
            android:exported="false"
            android:theme="@style/actionBarTheme" />
        <activity
            android:name=".notes.NotesMainActivity"
            android:exported="false"
            android:parentActivityName=".selectCreateActivity"
            android:theme="@style/actionBarTheme" />
        <activity
            android:name=".todoList.TodoList_VoiceCreation"
            android:exported="false" />
        <activity
            android:name=".todoList.TodoListMainActivity"
            android:exported="false"
            android:parentActivityName=".selectCreateActivity"
            android:theme="@style/actionBarTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".tallycounter.tallyCounter_MainActivity"
            android:exported="false"
            android:parentActivityName=".selectCreateActivity"
            android:theme="@style/actionBarTheme" />
        <activity
            android:name=".selectCreateActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/actionBarTheme" />
        <activity
            android:name=". "
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
            <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>